*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: white;

}
header{
    display: inline-flex;
}
div.flex{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100px;
}
div.flex1{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.no{
    list-style-type: none;
}
.blue{
    background-color: lightblue;
}
.container{
    background-color: lightblue;
}
.img{
    background-image: url(jumbo.png);
    width: 1920px;
    height: 1080px;
}

div.flex3{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    padding: 10px
}
.blue1 {
    background-color: lightblue;
    margin: 10px;
}
.padding{
    padding: 10px;
}
div.column{
    padding: 2rem;
}
div.column-small{
    width: 30%;
}
div.column-big{
    width: 75%;  
}
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-centered-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    background-color: green;
}
.element {
    width: 150px;
    height: 150px;
}
.box1 {
    height: 150px;
    width: 150px;
    background-color: lightblue;
}
.box2 {
    height: 150px;
    width: 150px;
    background-color: brown;
}
.box3 {
    height: 150px;
    width: 150px;
    background-color: red;
}
.box4 {
    height: 300px;
    width: 300px;
    background-color: white;
}
.box5{
    height: 150px;
    width: 150px;
    background-color: red;
}
.box6 {
    height: 150px;
    width: 150px;
    background-color: blue;
}
.box7 {
    height: 150px;
    width: 150px;
    background-color: lightblue;
}
.box8 {
    height: 150px;
    width: 150px;
    background-color: yellow;
}